<div class="login-gestionnaire-form clearfix"  >

    <form  novalidate name="gestionnaireForm" role="form" class="col-md-6">
        <h2>Authentification</h2>
        <div  ng-show="error" class="alert alert-danger">
            <a ng-disabled="checked" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Merde!</strong> Le courriel n'existe pas ou le mot de passe est erroné.
        </div>
        <div class="form-group">
            <label>Courriel</label>
            <input class="form-control" ng-pattern="/^.*@.*\.[a-zA-Z]{2,}$/i" ng-model="gestionnaire.email" id="inputEmail" placeholder="exemple@domaine.com" required/>
            <span>Le format du courriel n'est pas valide</span>
        </div>

        <div class="form-group">
            <label>Mot de passe</label>
            <input type="password"  class="form-control" ng-model="gestionnaire.password" id="inputPassword" required/>
        </div>

        <button type="submit" class="btn btn-primary"  ng-click="loginGestionnaire()">Connecter</button>


    </form>


</div>